<h1>APP TO DO LIST</h1>
<div>Wykonano {{ $ctrl.remaining($ctrl.getList()) }} z {{ $ctrl.getList().length }}</div>
<button ng-click="$ctrl.remove()">Usuń zaznaczone</button>
<to-do-add add="$ctrl.add(newTodo)"></to-do-add>
<to-do-list list="$ctrl.getList()"
            toggle="$ctrl.toggleDone(id)"></to-do-list>